doctype html
html(lang="en")
	head
		meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
		title= Page
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=latin,cyrillic-ext,cyrillic")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
		link(rel="stylesheet", href="css/normalize.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		script(src='js/jquery.min.js')
		script(src='js/main.min.js')
	body
		section.container.animated.bounceIn
			p.name Nick Aroot
			p.description Young developer with free lifestyle
			p.description Likes to research something new
			p.description Fully opened to get an offers
		section.container.animated.bounceIn
			p.name Skills
			p.description Swift (iOS, OSX)
			p.description Python (Machine Learning)
			p.description Web (Full-Stack)
		section.container.animated.bounceIn
			p.name Projects
			p.description 
				a(href="//telegram.me/orphobot" target="_blank") Russian Orthoepic Bot
			p.description
				a(href="//github.com/nickaroot/GoToHack" target="_blank") Big Data Insights
			p.description
				a(href="//4quests.ru/" target="_blank") 4Quests Site
		section.container.animated.bounceIn
			p.name Contacts
			p.description
				a(href="//vk.com/nickaroot" target="_blank") VK
			p.description
				a(href="//fb.com/nickaroot" target="_blank") Facebook
			p.description
				a(href="//telegram.me/nickaroot" target="_blank") Telegram
			p.description
				a(href="mailto:funtrum@icloud.com" target="_blank") Send to E-Mail
		section.lang-container
			a(href="/ru/") Русский